In [1]:
## Imbalance dataset handling
## 1. Upsampling
## 2. Downsampling

In [2]:
import numpy as np
import pandas as pd

In [3]:
# set the random seed for reproduciablity
np.random.seed(123)

# create a datafram with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0, n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0 
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1] * n_class_1 
})

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [11]:
## Upsampling

In [12]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [13]:
df_minority.head()

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1

In [14]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [15]:
## upsampling perform
from sklearn.utils import resample

In [17]:
df_minority_upsample = resample(
    df_minority,
    replace=True, ## Sample with replacement
    n_samples=len(df_majority), ## to match the majority class
    random_state=42
)

In [19]:
df_minority_upsample.shape

(900, 3)

In [20]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [21]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [23]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [24]:
df_upsampled.shape

(1800, 3)

In [25]:
## down sampling

In [26]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0 
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1] * n_class_1 
})

In [27]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [28]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [29]:
df_majority_downsample = resample(
    df_majority,
    replace=False, ## Sample without replacement
    n_samples=len(df_minority), ## to match the minority class
    random_state=42
)

In [30]:
df_majority_downsample.shape

(100, 3)

In [32]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [33]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64