In [26]:
# Q1. Create one variable containing following type of data

In [2]:
tup1 = ('aa', 'bb', 'cc')
lis1 = [2,4,10]
list2 = [lis1, tup1, 54,65.32, 'str']

In [6]:
list2

[[2, 4, 10], ('aa', 'bb', 'cc'), 54, 65.32, 'str']

In [27]:
# Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘ 
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

In [10]:
# var1: str
# var2: str
# var3: list
# var4: Int

In [28]:
# Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [16]:
# 1. divide
# 2. modulus
# 3. floor
# 4. power

In [24]:
div = 2/3
mod = 2%3
flr = 10//3
powr = 2**3

In [20]:
div

0.6666666666666666

In [21]:
mod

2

In [25]:
flr

3

In [23]:
powr

8

In [34]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
# element and its data type.
list1 = [9, 20, 30, 21, 6, 'str', 24.3, 'str2', 34, 65]
for i in list1 :
    print (i , ":" , type(i))

9 : <class 'int'>
20 : <class 'int'>
30 : <class 'int'>
21 : <class 'int'>
6 : <class 'int'>
str : <class 'str'>
24.3 : <class 'float'>
str2 : <class 'str'>
34 : <class 'int'>
65 : <class 'int'>

In [36]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
a = 40
b = 2
i = 0
while a%b == 0 :
    i = i + 1
    a = a/b
print (i)

3

In [37]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list3 :
    if i % 3 == 0:
        print ('Number: ', i , " is divisible by 3")
    else:
        print ('Number: ', i , " is not divisible by 3")

Number:  1  is not divisible by 3
Number:  2  is not divisible by 3
Number:  3  is divisible by 3
Number:  4  is not divisible by 3
Number:  5  is not divisible by 3
Number:  6  is divisible by 3
Number:  7  is not divisible by 3
Number:  8  is not divisible by 3
Number:  9  is divisible by 3
Number:  10  is not divisible by 3
Number:  11  is not divisible by 3
Number:  12  is divisible by 3
Number:  13  is not divisible by 3
Number:  14  is not divisible by 3
Number:  15  is divisible by 3
Number:  16  is not divisible by 3
Number:  17  is not divisible by 3
Number:  18  is divisible by 3
Number:  19  is not divisible by 3
Number:  20  is not divisible by 3
Number:  21  is divisible by 3
Number:  22  is not divisible by 3
Number:  23  is not divisible by 3
Number:  24  is divisible by 3
Number:  25  is not divisible by 3

In [38]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
mutable = [2, 5, 'str', 10]
immutbl = 'stringtype'

In [39]:
mutable

[2, 5, 'str', 10]

In [40]:
mutable[1] = 7

In [41]:
mutable

[2, 7, 'str', 10]

In [42]:
immutbl

'stringtype'

In [43]:
immutbl[1] = y

NameError: name 'y' is not defined