In [1]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""

"""
Sql: it is relational database
NoSql: Non structural database
"""

'\nSql: it is relational database\nNoSql: Non structural database\n'

In [2]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""

"""
Data Definition Language (DDL) is used to 
create and modify the structure of objects in a database using predefined commands and a specific syntax

Create: Used to create data in DB
Drop: Drop is used to delete table from DB
Alter: Change table column 
Truncate: delete rows or data from table

"""

'\nData Definition Language (DDL) is used to \ncreate and modify the structure of objects in a database using predefined commands and a specific syntax\n\nCreate: Used to create data in DB\nDrop: Drop is used to delete table from DB\nAlter: Change table column \nTruncate: delete rows or data from table\n\n'

In [3]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""

"""
DML: Data manipulation language
Insert: Insert data in DB table
Update: Update existing data in DB table
Delete: Delete data from DB table
"""

'\nDML: Data manipulation language\nInsert: Insert data in DB table\nUpdate: Update existing data in DB table\nDelete: Delete data from DB table\n'

In [4]:
"""
Q4. What is DQL? Explain SELECT with an example.
"""

"""
DQL: Data query language
Select: Fetch data from DB tables
"""

'\nDQL: Data query language\nSelect: Fetch data from DB tables\n'

In [5]:
"""
Q5. Explain Primary Key and Foreign Key.
"""

"""
Primary Key: Uniquely identify single row in a able
Foreign Key: Foreign key is used to make relationship between two tables. 
PK of one table can be FK for another table 
"""

'\nPrimary Key: Uniquely identify single row in a able\nForeign Key: Foreign key is used to make relationship between two tables. \nPK of one table can be FK for another table \n'

In [8]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
"""
"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("create database if not exists test2")

Cursor: Cursor is a pointer or object for connected mysql
Execute: Execute is used to execute any query i connected mysql DB
"""

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("create database if not exists test2")\n\nCursor: Cursor is a pointer or object for connected mysql\nExecute: Execute is used to execute any query i connected mysql DB\n'

In [9]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.
"""

"""
From, where, group by, having, select, order by, limit
"""

'\nFrom, where, group by, having, select, order by, limit\n'