In [3]:
## mean() also called average
age=[12,15,20,34,67,32,78,90,54,23,78,90,54,23]

In [4]:
import numpy as np
np.mean(age)

47.857142857142854

In [5]:
import seaborn as sns
df = sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
np.mean(df['total_bill'])

19.78594262295082

In [9]:
# median

In [25]:
np.median(df['total_bill'])

17.795

In [10]:
np.median(age)

44.0

In [11]:
np.mean(age)

47.857142857142854

In [18]:
age=[12,15,20,34,67,32,78,90,54,23,78,90,54,23,400]

In [19]:
np.mean(age)

71.33333333333333

In [20]:
np.median(age)

54.0

In [21]:
# mode

In [22]:
from scipy import stats

In [23]:
stats.mode(age)

/tmp/ipykernel_70/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([23]), count=array([2]))